.sr-only {
  position: absolute; /* 요소를 화면 밖으로 이동시킴 */
  width: 1px; /* 너비를 1px로 설정 */
  height: 1px; /* 높이를 1px로 설정 */
  margin: -1px; /* 마진을 음수로 설정하여 위치를 화면 밖으로 이동 */
  padding: 0; /* 패딩 없음 */
  border: 0; /* 경계 없음 */
  clip: rect(0, 0, 0, 0); /* 보이지 않도록 잘라냄 */
  overflow: hidden; /* 넘치는 콘텐츠 숨김 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}
